/* Header styles */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Banner style */

.header{
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    height: 100vh;

}
.banner-text{
    position: absolute;
    right: 0;
    width: 350px;
    margin-top: 230px;
    margin-right: 230px;
    margin-bottom: 153px;
    text-align: right;
}
.banner-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}
.banner-description{
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
}
.btn-primary{
    color: #005FAC;
    border-radius: 8px;
    background-color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
.btn-primary:hover{
    color: white;
    background-color: #005FAC;
}
/* main styles */
.fail{
    display: flex;
    margin-top: 150px;
    text-align: center;
    margin-right: 320px;
    margin-left: 200px;
    justify-content: center;
    gap: 90px;
}
.fail-details{
    margin-top: 230px;
    text-align: left;
}
.fail-title{
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
    color: #151414;
}
.fail-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}
.plan{
    text-align: center;
    margin-top: 130px;
}
.development{
    display: flex;
    justify-content: space-around;
    margin: 50px 230px 130px;
}
.web-skill{
    text-align: center;
}
.web-title{
    font-size: 30px;
    font-weight: 700;
}
.web-description{
    font-size: 25px;
    font-weight: 500;
}
.help-info{
    background-image: url('../images/gradient1.png'),url('../images/watch.png');
    justify-content: center;
    background-repeat: no-repeat, no-repeat;

    background-position: center;
    background-size: cover;
    height: 300px;
    margin: 130px 230px 130px;
    border-radius: 8px;

    
}
.help-info-item{
    padding: 50px 120px;
    margin-right: 700px;
    
}
.help-title{
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.contact{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    background-color: black;
    gap: 30px;
}
.contact-title{
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
    margin-bottom: 16px;
}
.contact-description{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 16px;
    padding-right:800px;

}
.contact-link{
    display: flex;
    gap: 17px;
}
.contact-form{
    text-align: left;
    padding-right: 200px;
}
.contact-form-subscribe{
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.form-email{
    margin-bottom: 16px;
    width: 100%;
    padding: 18px 30px;
    border: 1px solid white;
    background-color: black;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
}
.btn-secondary{
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #005FAC;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
.btn-secondary:hover{
    background-color: white;
    color: #005FAC;
}